services:
  capture:
    image: capture:latest
    build:
      context: ./capture
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./capture/app:/app
      - ../config:/config
      - media_data:/data

  checkmoov:
    image: checkmoov:latest
    build:
      context: ./checkmoov
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./checkmoov/app:/app
      - ../config:/config
      - media_data:/data

  webserver:
    image: webserver:latest
    build:
      context: ./webserver
      dockerfile: Dockerfile
    ports:
      - "8443:8443"
      - "8080:8080"
    restart: always
    volumes:
      - ./webserver/app:/app
      - ./webserver/docroot:/docroot
      - ../config:/config
      - media_data:/data

volumes:
  media_data:
    driver: local
    driver_opts:
      type: none
      device: /media/data
      o: bind
