[Unit]
Description=Check MOOV atom in recordings from RTSP Video Capture
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/checkmoov.py /usr/local/bin/config.json --check-interval 30
Restart=on-failure

[Install]
WantedBy=multi-user.target
