[Unit]
Description=RTSP Video Capture from IP Cameras
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/rtspcapture.py /usr/local/bin/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
