<html>
  <head>
    <title>CCTV Console</title>
    <link href="/css/console.css" rel="stylesheet" />
  </head>
  <body>
    <div style="font-size: 0">
      <script>
      var cameras = '<%= cameras %>'.split(',');

      const CAPTURE_DIR = '<%= capture_dir %>';
      const VIDEO_WIDTH = (cameras.length <= 4)
        ? '50%'
        : (cameras.length <= 9)
          ? video_width = '33.3%'
          : video_width = '25%';

      cameras.forEach(function(name) {
        let linkUrl = `/play?c=${name}`;
        let videoUrl = `/${CAPTURE_DIR}/${name}/low_res/live.m3u8`;

        document.writeln('<a href="' + linkUrl + '">');
        document.writeln('<video style="vertical-align: top" width="' + VIDEO_WIDTH + '" src="' + videoUrl + '" autoplay playsinline>');
        document.writeln('</video>');
        document.writeln('</a>');
      });
      </script>
    </div>
  </body>
</html>
