<html>
  <head>
    <title>HD Playback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="jquery-ui-1-13-2.css" rel="stylesheet">
    <script src="jquery-3.7.1.min.js"></script>
    <script src="jquery-ui-1-13-2.min.js"></script>
    <style>

    body {
      margin: 0;
      background-color: black;
    }

    hr {
      width: 25px;
      height: 2px;
      border: 0;
      background-image: linear-gradient(to right, rgba(255, 255, 0, 0), rgba(255, 255, 0, 0.75), rgba(255, 255, 0, 0));
    }

    #fullscreen {
      position: relative;
      width: 100%;
      height: 100%;
    }

    #video {
      display: none; /* Only shown once video playback has started */
      font-size: 0pt;
    }

    #control {
      display: none; /* Set to "flex" once control pane is populated */
      flex-direction: column;
      position: absolute;
      border-radius: 6px;
      background-color: rgba(128, 128, 128, 0.5);
    }

    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: rgba(160, 160, 160, 0.5);
    }

    #entries {
      overflow: scroll;
      scrollbar-width: none;
      border-radius: 0px 0px 6px 6px;
      color: yellow;
    }

    #playback-state {
      border-radius: 0px 0px 0px 0px;
      padding: 4px;
      font-size: small;
      text-align: center;
      vertical-align: middle
      font-style: italic;
      color: #99ebff;
    }

    .button {
      border-style: solid;
      border-width: thin;
      border-color: rgba(64, 64, 64, 0.5);
      border-radius: 6px 6px 6px 6px;
      padding: 4px;
      background-color: rgba(64, 64, 64, 0.5);
      font-size: small;
      text-align: center;
      color: #66ff33;
      width: 20;
    }

    /* Ensure widths of middle buttons are bigger */
    #play-pause, #flip-position {
      width: 40;
    }

    .button-highlight {
      background-color: rgba(190, 190, 190, 0.5);
    }

    .entry-day-boundary {
      text-align: center;
      background-color: rgba(100, 100, 255, 0.5);
    }

    .entry-playback {
      display: flex;
      flex-direction: row;
      text-align: center;
    }

    .entry-playback-selected {
      background-color: rgba(32, 32, 32, 0.5);
    }

    </style>
  </head>
  <script>
  const CAPTURE_DIR   = "<%= capture_dir %>";
  const PLAYBACK_TIME = "<%= playback_time %>";
  const CAMERA        = "<%= camera_name %>";

  const CAMERAS_LIST  = [];
  CAMERAS_LIST.push(<%- camera_names_list %>);

  const DAYS = ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat"];

  const MARGIN_CONTROL_TOP_PCT = 5;  // Top margin of control pane as percentage of screen height
  const HEIGHT_CONTROL_PCT     = 85; // Height of control pane as percentage of screen height

  // Doesn't work for iPad unfortunately i.e. iPad reported as Mac (clearly a bug!)
  const IS_IPHONE = (/iPhone/.test(navigator.userAgent)) ? true : false;

  // Percentage height to add to top margin of control and remove from
  // height of control for iPhone when orientation is portrait
  const IPHONE_HEIGHT_DELTA_CONTROL_PCT = 35;

  const LIVE_PLAY_ID                   = 0;    // ID of live playback stream
  const BUTTON_PRESS_HIGHLIGHT_TIME_MS = 500;  // Duration of button highlight when pressed

  var RECS_DATA = null;

  var RECORDINGS = null; // Set to Recordings object to manage recordings data
  var PLAYBACK   = null; // Set to Playback object to control playback

  var CURRENT_PLAY_ID      = null;  // ID of currently playing recording i.e. recording index
  var BUTTON_PRESS_TIMEOUT = null;  // Timeout object for button press highlight
  var IS_CONTROL_FLIPPED   = false; // Flags if control position is flipped to other side of screen

  var KEYS_DOWN = {}; // Stores a dictionary of keypresses that are currently occuring


  ////
  // Classes
  ////////

  class Recordings {
    #camera          = null; // Camera name
    #loadedCb        = null; // Callback to notify when recordings are loaded
    #recordings      = [];   // Recordings in reverse chronological order (including non playable live first)
    #dayBoundaryIdxs = [];   // List of day boundary indexes i.e. indexes of first recording in each day

    constructor(camera, loadedCb) {
      this.setCamera(camera);
      this.#loadedCb = loadedCb;
    }

    #loadRecordings() {
      fetch(`/recordings?c=${this.#camera}`)
        .then((response) => {
          if (response.ok) return response.json();
        })
        .then((json) => {
          if (!json) return;

          for (let i = 0, currentDay = null; i < json.recordings.length; i++) {
            let [file, crtime] = json.recordings[i];

            let dateObj = new Date(crtime * 1000);
            let year  = dateObj.getFullYear();
            let month = dateObj.getMonth();
            let date  = dateObj.getDate();
            let day   = dateObj.getDay();
            let hrs   = dateObj.getHours();
            let mins  = dateObj.getMinutes();
            let secs  = dateObj.getSeconds();

            if (currentDay != day) {
              if (currentDay != null) {
                this.#dayBoundaryIdxs.push(i);
              }
              currentDay = day;
            }
            this.#recordings.push([file, crtime, year, month, date, day, hrs, mins, secs]);
          }
          this.#loadedCb();
        });
    }

    setCamera(camera) {
      this.#camera = camera;
      this.#loadRecordings();
    }

    getNumRecordings() {
      return this.#recordings.length;
    }

    getDayBoundaryIndexes() {
      return this.#dayBoundaryIdxs;
    }

    getDateFields(idx) {
      if ((idx < 0) || (idx >= this.#recordings.length)) return;

      return this.#recordings[idx].slice(2); // Return only date related fields
    }

    getPlayUrl(idx) {
      if ((idx < 0) || (idx >= this.#recordings.length)) return;

      // Return the live stream URL for first recording or playback URL otherwise
      return (idx == LIVE_PLAY_ID)
        ? `/${CAPTURE_DIR}/${this.#camera}/high_res/live.m3u8`
        : `/${CAPTURE_DIR}/${this.#camera}/${this.#recordings[idx][0]}`;
    }

    getIdxAndOffsetForTime(t) {
      for (let i = 0; i < this.#recordings.length; i++) {
        let [file, crtime, year, month, date, day, hrs, mins, secs] = this.#recordings[i];

        if (t >= crtime) {
          let offset = t - crtime; // Position must be in seconds
          return [i, offset];
          break;
        }
      }
      return undefined;
    }

    getStartTimeEpochSecs(idx) {
      if ((idx < 0) || (idx >= this.#recordings.length)) return;

      let [file, crtime, year, month, date, day, hrs, mins, secs] = this.#recordings[idx];
      return crtime;
    }
  }

  class Control {
    #recordings      = null;
    #playback        = null;

    #controlId       = null;
    #entriesId       = null;
    #iPhoneButtonsId = null;

    #currentPlayId   = null;

    constructor(recordingsObj, playbackObj, controlId, entriesId, iPhoneButtonsId) {
      this.#recordings      = recordingsObj;
      this.#controlId       = controlId;
      this.#entriesId       = entriesId;
      this.#iPhoneButtonsId = iPhoneButtonsId;
    }

    populate() {
      // Clear the control first
      $(`#${this.#entriesId}`).empty(); 

      // Build lookup table for indexes of recordings on day boundary
      let dayRecIdxLookup = {};
      let dayRecIdxs = this.#recordings.getDayBoundaryIndexes();
      for (let i = 0; i < dayRecIdxs.length; i++) {
        dayRecIdxLookup[dayRecIdxs[i]]++;
      }

      // Now populate all entries in the control pane showing
      for (let idx = 0; idx < this.#recordings.getNumRecordings(); idx++) {
        let [year, month, date, day, hrs, mins, secs] = this.#recordings.getDateFields(idx);

        // Format certain time fields
        date  = ("0" + date).slice(-2);
        month = ("0" + (month + 1)).slice(-2);
        hrs   = ("0" + hrs).slice(-2);
        mins  = ("0" + mins).slice(-2);
        secs  = ("0" + secs).slice(-2);

        // Show day boundary
        if (idx in dayRecIdxLookup) {
          let text = `${DAYS[day]} ${date}-${month}-${year}`;
          $(`#${this.#entriesId}`).append(`<div class="entry-day-boundary">${text}</div>`);
        }

        let text = (idx== LIVE_PLAY_ID) ? "Live" : `${hrs}:${mins}:${secs}`; // First entry is live

        // Use the recording index as the entry ID
        $(`#${this.#entriesId}`).append(
          `<div class="entry-playback" id="${idx}" onclick="play(${idx})">` +
          `  <div><hr></div><div style="flex-grow: 1">${text}</div><div><hr></div>` +
          "</div>"
        );
      }

      // Only show button for flipping position on iPhone
      if (!IS_IPHONE) $(`#${this.#iPhoneButtonsId}`).hide();

      // Now show the control pane
      $(`#${this.#controlId}`).css("display", "flex");
    }

    // Note: recording index and corresponding entry ID in control pane are the same
    play(idx) {
      //PLAYBACK.play(RECORDINGS.getPlayUrl(idx));

      // Handle selection highlight
      //if ((CURRENT_PLAY_ID != null) && (CURRENT_PLAY_ID != idx)) {
      //  $("#" + CURRENT_PLAY_ID).removeClass("entry-playback-selected");
      //}
      //$("#" + idx).addClass("entry-playback-selected");
      //CURRENT_PLAY_ID = idx;

      //showPlaybackState();
    }
  }

  class Playback {
    #SPEEDS           = [0, 0.5, 1, 2, 4, 8, 16]; // Supported playback speeds
    #NORMAL_SPEED_IDX = 2;                        // Index of normal playback speed
    #PAUSED_SPEED_IDX = 0;                        // Index of paused playback speed
    #SEEK_TIME_SECS   = 30;                       // Seek time in seconds

    #video      = null;
    #recordings = null;
    #url        = null;
    #speedIdx   = null;
    #isPaused   = null;

    #sameSpeedForNextPlay = false;

    constructor(videoElementId, recordingsObj) {
      this.#video      = document.getElementById(videoElementId);
      this.#recordings = recordingsObj;

      this.#video.addEventListener("canplay", e => {
        $("#video").show();
      });

      this.#video.addEventListener("ended", e => {
        if (CURRENT_PLAY_ID != 1) {
          this.#maintainSpeedForNextPlay();
        }
        $(`#${CURRENT_PLAY_ID - 1}`).click(); // Play next video when current ends
      });
    }

    #maintainSpeedForNextPlay() {
      this.#sameSpeedForNextPlay = true;
    }

    play(url) {
      if (!url) return false;

      this.#url = url;
      this.#isPaused = false;

      if (this.#sameSpeedForNextPlay) {
        this.#sameSpeedForNextPlay = false;
      }
      else {
        this.#speedIdx = this.#NORMAL_SPEED_IDX;;
      }

      this.#video.src = url;
      this.#video.playbackRate = this.#SPEEDS[this.#speedIdx];

      return true;
    }

    togglePlayPause() {
      if (!this.#url) return false;

      if (this.#isPaused) {
        this.#video.play();
        this.#isPaused = false;
      }
      else {
        this.#video.pause()
        this.#isPaused = true;
      }
      return true;
    }

    isPaused() {
      return this.#isPaused;
    }

    speedUp() {
      if (!this.#url) return false;                        // Ignore if not playing anything
      if ((this.#speedIdx == (this.#SPEEDS.length - 1)) && // Ignore if already at max speed
          !this.#isPaused) return false;                   // and not paused

      if (this.#isPaused) this.#speedIdx = this.#PAUSED_SPEED_IDX; // Set speed index to stopped if paused
      this.#video.playbackRate = this.#SPEEDS[++this.#speedIdx];   // Set the incremented playback rate
      if (this.#isPaused) this.togglePlayPause();                  // Toggle playback to commence if paused

      return true;
    }

    speedDown() {
      if (!this.#url) return false;          // Ignore if not playing anything
      if (this.#speedIdx == 0) return false; // Ignore if already at min speed

      this.#video.playbackRate = this.#SPEEDS[--this.#speedIdx]; // Set the decremented playback rate
      if (this.#isPaused) this.togglePlayPause();                // Toggle playback to commence if paused

      return true;
    }

    seekForward() {
      // Let player handle if we go forward too far
      this.#video.currentTime += this.#SEEK_TIME_SECS;
    }

    seekBack() {
      // Let player handle if we go backward too far
      this.#video.currentTime -= this.#SEEK_TIME_SECS;
    }

    setPosition(position) {
      this.#video.currentTime = position;
    }

    getPosition() {
      return this.#video.currentTime;
    }

    getStatusString() {
      return (this.#isPaused) ? "Paused" : `x${this.#SPEEDS[this.#speedIdx]}`;
    }
  }


  function getPlayUrl(camera, time) {
    return `/play?c=${camera}&t=${time}`;
  }

  function getRecordingsUrl(camera) {
    return `/recordings?c=${camera}`;
  }

  function loadedRecordingsCb() {
    CONTROL.populate();
    positionControl();
    setupPlayback();
  }

  $(document).ready(function () {
    // Make the control draggable on supported devices
    $(function() {
      $("#control").draggable();
    });

    RECORDINGS = new Recordings(CAMERA, loadedRecordingsCb);
    PLAYBACK   = new Playback("video", RECORDINGS);
    CONTROL    = new Control(RECORDINGS, PLAYBACK, "control", "entries", "bottom-buttons");
  });

  function setupPlayback() {
    //PLAYBACK = new Playback("video", RECORDINGS);

    if (!setPlaybackTime()) {
      $(`#${LIVE_PLAY_ID}`).click(); // Otherwise play live by default
    }

    resizeVideo();
  }

  // Set any supplied playback time passed into this template
  function setPlaybackTime() {
    if (PLAYBACK_TIME.length == 0) return false;

    //let playbackTimeSecs = parseInt(PLAYBACK_TIME, 10);
    //let idxAndOffset = RECORDINGS.getIdxAndOffsetForTime(playbackTimeSecs);

    //if (idxAndOffset == undefined) return false;
    //let [idx, pos] = idxAndOffset;

    //scrollToControlEntry(idx); // Scroll to the recording entry
    //$(`#${idx}`).click();      // Select the entry for playback
    //PLAYBACK.setPosition(pos); // Set the playback position

    //return true;
    return false;
  }

  $(window).keydown(function(e) {
    KEYS_DOWN[e.which]++;

    // Multi-keypress
    if (Object.keys(KEYS_DOWN).length > 1) {
      if ((18 in KEYS_DOWN) && // Option
          (37 in KEYS_DOWN)) { // Left cursor
        seekBack();
      }
      else if ((18 in KEYS_DOWN) && // Option
               (39 in KEYS_DOWN)) { // Right cursor
        seekForward();
      }
      else if ((93 in KEYS_DOWN) && // Command
               (37 in KEYS_DOWN)) { // Left cursor
        history.back();
      }
      // Clear out all keypresses except for the Option
      // key to allow Option to be held whilst pressing
      // Left or Right repeatedly
      for (x in KEYS_DOWN) {
        if (x != 18) delete KEYS_DOWN[x];
      }
    }
    // Otherwise single keypress
    else {
      switch(e.which) {
        case 32: // Spacebar
        case 40: // Down cursor
          $("#play-pause").click();
          break;

        case 37: // Left cursor
          $("#speed-down").click();
          break;

        case 39: // Right cursor
          $("#speed-up").click();
          break;

        default:
          isHandled = false;
      }
    }
    return false; // Never propogate the keypress up
  });

  $(window).keyup(function(e) {
    delete KEYS_DOWN[e.which];
  });

  $(window).bind("orientationchange", function() {
    positionControl();
  });

  $(window).bind("resize", function() {
    resizeVideo();
    positionControl();
  });

  function isIphonePortrait() {
    return (IS_IPHONE && (screen.orientation.type == "portrait-primary"));
  }

  function resizeVideo() {
    video.setAttribute("width", window.innerWidth);
  }

  function populateControl() {
    // Build lookup table for indexes of recordings on day boundary
    let dayRecIdxLookup = {};
    let dayRecIdxs = RECORDINGS.getDayBoundaryIndexes();
    for (let i = 0; i < dayRecIdxs.length; i++) {
      dayRecIdxLookup[dayRecIdxs[i]]++;
    }

    // Now populate all entries in the control pane showing
    for (let idx = 0; idx < RECORDINGS.getNumRecordings(); idx++) {
      let [year, month, date, day, hrs, mins, secs] = RECORDINGS.getDateFields(idx);

      // Format certain time fields
      date  = ("0" + date).slice(-2);
      month = ("0" + (month + 1)).slice(-2);
      hrs   = ("0" + hrs).slice(-2);
      mins  = ("0" + mins).slice(-2);
      secs  = ("0" + secs).slice(-2);

      // Show day boundary
      if (idx in dayRecIdxLookup) {
        let text = `${DAYS[day]} ${date}-${month}-${year}`;
        $("#entries").append(`<div class="entry-day-boundary">${text}</div>`);
      }

      let text = (idx== LIVE_PLAY_ID) ? "Live" : `${hrs}:${mins}:${secs}`; // First entry is live

      // Use the recording index as the entry ID
      $("#entries").append(
        `<div class="entry-playback" id="${idx}" onclick="play(${idx})">` +
        `  <div><hr></div><div style="flex-grow: 1">${text}</div><div><hr></div>` +
        "</div>"
      );
    }

    // Only show button for flipping position on iPhone
    if (!IS_IPHONE) $("#bottom-buttons").hide();

    // Now show the control pane
    $("#control").css("display", "flex");
  }

  function positionControl() {
    let height = isIphonePortrait()
      ? HEIGHT_CONTROL_PCT - IPHONE_HEIGHT_DELTA_CONTROL_PCT
      : HEIGHT_CONTROL_PCT;

    let top    = isIphonePortrait()
      ? MARGIN_CONTROL_TOP_PCT + IPHONE_HEIGHT_DELTA_CONTROL_PCT
      : MARGIN_CONTROL_TOP_PCT;

    $("#control").css("height", `${height}%`);
    $("#control").css("top", `${top}%`);
    $("#control").css("left", IS_CONTROL_FLIPPED
      ? (window.innerWidth * 0.05)
      : window.innerWidth - $("#control").width() - (window.innerWidth * 0.05));
  }

  function scrollToControlEntry(idx) {
    panel = $("#entries");
    entry = $(`#${idx}`);

    panel.scrollTop(entry.offset().top - panel.offset().top + panel.scrollTop());
  }

  // Note: recording index and corresponding entry ID in control pane are the same
  function play(idx) {
    PLAYBACK.play(RECORDINGS.getPlayUrl(idx));

    // Handle selection highlight
    if ((CURRENT_PLAY_ID != null) && (CURRENT_PLAY_ID != idx)) {
      $("#" + CURRENT_PLAY_ID).removeClass("entry-playback-selected");
    }
    $("#" + idx).addClass("entry-playback-selected");
    CURRENT_PLAY_ID = idx;

    showPlaybackState();
  }

  function togglePlayPause(button) {
    if (PLAYBACK.togglePlayPause()) {
      showButtonPress(button);
      showPlaybackState();
    }
  }

  function speedUp(button) {
    if (CURRENT_PLAY_ID == LIVE_PLAY_ID) return; // Do not support on live
    if (PLAYBACK.speedUp()) {
      showButtonPress(button);
      showPlaybackState();
    }
  }

  function speedDown(button) {
    if (CURRENT_PLAY_ID == LIVE_PLAY_ID) return; // Do not support on live
    if (PLAYBACK.speedDown()) {
      showButtonPress(button);
      showPlaybackState();
    }
  }

  function seekForward(button) {
    if (CURRENT_PLAY_ID == LIVE_PLAY_ID) return; // Do not support on live
    if (button) showButtonPress(button);
    PLAYBACK.seekForward();
  }

  function seekBack(button) {
    if (CURRENT_PLAY_ID == LIVE_PLAY_ID) return; // Do not support on live
    if (button) showButtonPress(button);
    PLAYBACK.seekBack();
  }

  function reposition(button) {
    showButtonPress(button);
    IS_CONTROL_FLIPPED = !IS_CONTROL_FLIPPED;
    positionControl();
  }

  function getPlaybackTime() {
    if (CURRENT_PLAY_ID == LIVE_PLAY_ID) return 0;

    let startTime = RECORDINGS.getStartTimeEpochSecs(CURRENT_PLAY_ID)
    if (startTime == undefined) return 0;

    let playbackPos = Math.round(PLAYBACK.getPosition());
    if (playbackPos == undefined) return 0;

    return startTime + playbackPos;
  }

  function setCamera(camera) {
    CAMERA = camera;
    getPlayUrl(CAMERA);
    getPlaybackTime();
  }

  function prevCam(button) {
    let camIdx = CAMERAS_LIST.indexOf(CAMERA);
    if (camIdx == 0) return;

    showButtonPress(button);
    setCamera(CAMERAS_LIST[--camIdx]);
  }

  function nextCam(button) {
    let camIdx = CAMERAS_LIST.indexOf(CAMERA);
    if (camIdx == (CAMERAS_LIST.length - 1)) return;

    showButtonPress(button);
    top.document.location.replace(getPlayUrl(CAMERAS_LIST[++camIdx], getPlaybackTime()));
  }

  function showPlaybackState() {
    $("#play-pause").html(PLAYBACK.isPaused() ? "Play" : "Pause");
    $("#playback-state").html(PLAYBACK.getStatusString());
  }

  function showButtonPress(button) {
    if (BUTTON_PRESS_TIMEOUT != null) {
      clearTimeout(BUTTON_PRESS_TIMEOUT);
      hideButtonPress(pressedButton);
    }
    $(`#${button.id}`).toggleClass("button-highlight");

    pressedButton = button;
    BUTTON_PRESS_TIMEOUT = setTimeout(hideButtonPress, BUTTON_PRESS_HIGHLIGHT_TIME_MS, button);
  }
  
  function hideButtonPress(button) {
    $(`#${button.id}`).toggleClass("button-highlight");
    BUTTON_PRESS_TIMEOUT = null;
    pressedButton = null;
  }

  </script>
  <body>
    <div id="fullscreen">
      <video id="video" type="video/mp4" playsinline autoplay muted controls></video>
      <div id="control">
        <div class="button-group">
          <div id="speed-down" class="button" onclick="speedDown(this)">&lt;&lt;</div>
          <div id="play-pause" class="button" onclick="togglePlayPause(this)">Pause</div>
          <div id="speed-up" class="button" onclick="speedUp(this)">&gt;&gt;</div>
        </div>
        <div class="button-group">
          <div id="prev-cam" class="button" onclick="prevCam(this)">Prv</div>
          <div id="playback-state"></div>
          <div id="next_cam" class="button" onclick="nextCam(this)">Nxt</div>
        </div>
        <div id="entries"></div>
        <div class="button-group" id="bottom-buttons">
          <div id="seek-back" class="button" onclick="seekBack(this)">|&lt;&lt;</div>
          <div id="flip-position" class="button" onclick="reposition(this)">Repo</div>
          <div id="seek-forward" class="button" onclick="seekForward(this)">&gt;&gt;|</div>
        </div>
      </div>
    </div>
  </body>
</html>