<html>
  <head>
    <title>CCTV Playback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="jquery-ui-1-13-2.css" rel="stylesheet">
    <script src="jquery-3.7.1.min.js"></script>
    <script src="jquery-ui-1-13-2.min.js"></script>
    <style>
      body {
        background-color: black;
        margin: 0;
      }

      .holder {
        width: 100%;
        height: 100%;
        position: relative;
      }

      #video {
        font-size: 0;
      }
    </style>
  </head>
  <script>
  const CAPTURE_DIR = "<%= capture_dir %>";
  const CAMERA      = "<%= camera_name %>";
  const LIVE_URL    = `/${CAPTURE_DIR}/${CAMERA}/high_res/live.m3u8`;

  // Slurp up the array of recordings information
  const RECS = [];
  RECS.push(<%- recordings %>);
  const FIELD_WIDTH = 7; // Number of fields for each recording

  var video;
  var orientation;

  function positionControls() {
    orientation = window.orientation;
    // Portrait
    if (orientation == 0) {
    }
    // Otherwise landscape
    else {
    }
  }

  function resizeVideo() {
    video.setAttribute("width", window.innerWidth);
  }


  $(document).ready(function () {
    video = document.getElementById("video");
    video.src = LIVE_URL;

    positionControls();
    resizeVideo();

    // Make the controls draggable
    //$(function() {
    //  $('#control').draggable();
    //});

    //$.getJSON(JSON_SUMMARY_FILE, function(data) {
    //  if (!(data instanceof Object)) return;
    //  if (!('snapshots' in data)) return;

      //Snapshots = data.snapshots;
      //insertSnapshotPane();
      //showSnapshot();
      //showFilters();
    //});
  });

  $(window).bind("orientationchange", function() {
    positionControls();
  });

  $(window).bind("resize", function() {
    resizeVideo();
  });

  function getRecordingsGroupedByDay() {
    let recs = [], currentDay = undefined;

    for (let i = 0; i < RECS.length; i += FIELD_WIDTH) {
      let [file, year, month, day, hrs, mins, secs] = RECS.slice(i, i + FIELD_WIDTH);

      if (currentDay != day) {
        recs.push([]);
        currentDay = day;
      }
      recs.at(-1).push([file, year, month, day, hrs, mins, secs]);
    }
    return recs;
  }
  </script>
  <body id="body">
    <video id="video" type="video/mp4" playsinline autoplay muted controls></video>
    <div class="holder">
      <div style="font-size: 0" id="main"></div>
      <div id="control">
        <p></p>
      </div>
    </div>
  </body>
</html>