<html>
  <head>
    <title>CCTV Playback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="jquery-ui-1-13-2.css" rel="stylesheet">
    <script src="jquery-3.7.1.min.js"></script>
    <script src="jquery-ui-1-13-2.min.js"></script>
    <style>

    body {
      margin: 0;
      background-color: black;
    }

    div {
      color: yellow;
    }

    hr {
      border: 0;
      width: 30px;
      height: 2px;
      background-image: linear-gradient(to right, rgba(255, 255, 0, 0), rgba(255, 255, 0, 0.75), rgba(255, 255, 0, 0));
    }

    #fullscreen {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    #video {
      font-size: 0pt;
    }

    #control {
      position: absolute;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      background-color: rgba(128, 128, 128, 0.5);
    }

    #buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 6px 6px 0px 0px;
      background-color: rgba(160, 160, 160, 0.5);
    }

    #entries {
      overflow: scroll;
      scrollbar-width: none;
      border-radius: 0px 0px 6px 6px;
    }

    #playback-state {
      text-align: center;
      font-style: italic;
      border-radius: 0px 0px 0px 0px;
      background-color: rgba(160, 160, 160, 0.5);
      color: lightblue;
    }
    
    .button-highlight {
      border-radius: 4px 4px 4px 4px;
      background-color: rgba(190, 190, 190, 0.5);
    }

    .entry-day-boundary {
      text-align: center;
      background-color: rgba(100, 100, 255, 0.5);
    }

    .entry-playback {
      display: flex;
      flex-direction: row;
      text-align: center;
    }

    .entry-playback-selected {
      background-color: rgba(32, 32, 32, 0.5);
    }

    </style>
  </head>
  <script>
  const CAPTURE_DIR = "<%= capture_dir %>";
  const CAMERA      = "<%= camera_name %>";
  const LIVE_URL    = `/${CAPTURE_DIR}/${CAMERA}/high_res/live.m3u8`;

  const RECS_DATA = [];
  RECS_DATA.push(<%- recordings %>);
  const FIELD_WIDTH = 8; // Number of fields for each recording

  const DAYS = ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"];

  const MARGIN_CONTROL_TOP_PCT = 5;
  const MARGIN_CONTROL_RHT_PCT = 5;
  const HEIGHT_CONTROL_PCT     = 85;

  const LIVE_PLAY_ID                   = 0; // ID of live playback stream
  const MAKE_CONTROL_DRAGGABLE         = true;
  const BUTTON_PRESS_HIGHLIGHT_TIME_MS = 500;

  var RECORDINGS = null;;
  var PLAYBACK   = null;

  var currentPlayId      = null;
  var buttonPressTimeout = null;

  class Recordings {
    #recordings      = [];   // Recordings in reverse chronological order (including non playable live first)
    #dayBoundaryIdxs = [];   // List of day boundary indexes i.e. indexes of first recording in each day
    #captureDir      = null; // Video capture directory
    #camera          = null; // Camera name

    constructor(captureDir, camera, data, fieldWidth) {
      this.#captureDir = captureDir;
      this.#camera     = camera;

      this.#loadRecordings(data, fieldWidth);
    }

    getNumRecordings() {
      return this.#recordings.length;
    }

    getDayBoundaryIndexes() {
      return this.#dayBoundaryIdxs;
    }

    getInfo(idx) {
      if ((idx < 0) || (idx >= this.#recordings.length)) return;

      return this.#recordings[idx];
    }

    getPlayUrl(idx) {
      if ((idx < 0) || (idx >= this.#recordings.length)) return;

      // Return the live stream URL for first recording or playback URL otherwise
      return (idx == LIVE_PLAY_ID)
        ? `/${this.#captureDir}/${this.#camera}/high_res/live.m3u8`
        : `/${this.#captureDir}/${this.#camera}/${this.#recordings[idx][0]}`;
    }

    #loadRecordings(data, fieldWidth) {
      for (let fieldIdx = 0, recIdx = 0, currentDay = null; fieldIdx < data.length; fieldIdx += fieldWidth, recIdx++) {
        let [file, year, month, date, day, hrs, mins, secs] = data.slice(fieldIdx, fieldIdx + fieldWidth);

        if (currentDay != day) {
          if (currentDay != null) {
            this.#dayBoundaryIdxs.push(recIdx);
          }
          currentDay = day;
        }
        this.#recordings.push([file, year, month, date, day, hrs, mins, secs]);
      }
    };
  }

  class Playback {
    #SPEEDS           = [0, 0.5, 1, 2, 4, 8, 16]; // Supported playback speeds
    #NORMAL_SPEED_IDX = 2;                        // Index of normal playback speed
    #PAUSED_SPEED_IDX = 0;                        // Index of paused playback speed

    #video    = null;
    #url      = null;
    #speedIdx = null;
    #isPaused = null;

    #sameSpeedForNextPlay = false;

    constructor(videoElementId) {
      this.#video = document.getElementById(videoElementId);
    }

    play(url) {
      if (!url) return false;

      this.#url = url;
      this.#isPaused = false;

      if (this.#sameSpeedForNextPlay) {
        this.#sameSpeedForNextPlay = false;
      }
      else {
        this.#speedIdx = this.#NORMAL_SPEED_IDX;;
      }

      this.#video.src = url;
      this.#video.playbackRate = this.#SPEEDS[this.#speedIdx];

      return true;
    }

    togglePlayPause() {
      if (!this.#url) return false;

      if (this.#isPaused) {
        this.#video.play();
        this.#isPaused = false;
      }
      else {
        this.#video.pause()
        this.#isPaused = true;
      }
      return true;
    }

    isPaused() {
      return this.#isPaused;
    }

    speedUp() {
      if (!this.#url) return false;                        // Ignore if not playing anything
      if ((this.#speedIdx == (this.#SPEEDS.length - 1)) && // Ignore if already at max speed
          !this.#isPaused) return false;                   // and not paused

      if (this.#isPaused) this.#speedIdx = this.#PAUSED_SPEED_IDX; // Set speed index to stopped if paused
      this.#video.playbackRate = this.#SPEEDS[++this.#speedIdx];   // Set the incremented playback rate
      if (this.#isPaused) this.togglePlayPause();                  // Toggle playback to commence if paused

      return true;
    }

    speedDown() {
      if (!this.#url) return false;          // Ignore if not playing anything
      if (this.#speedIdx == 0) return false; // Ignore if already at min speed

      this.#video.playbackRate = this.#SPEEDS[--this.#speedIdx]; // Set the decremented playback rate
      if (this.#isPaused) this.togglePlayPause();                // Toggle playback to commence if paused

      return true;
    }

    maintainSpeedForNextPlay() {
      this.#sameSpeedForNextPlay = true;
    }

    getStatusString() {
      return (this.#isPaused) ? "Paused" : `x${this.#SPEEDS[this.#speedIdx]}`;
    }
  }

  $(document).ready(function () {
    RECORDINGS = new Recordings(CAPTURE_DIR, CAMERA, RECS_DATA, FIELD_WIDTH);
    PLAYBACK   = new Playback("video");

    document.getElementById("video").addEventListener("ended", e => {
      if (currentPlayId != 1) {
        PLAYBACK.maintainSpeedForNextPlay();
      }
      $(`#${currentPlayId - 1}`).click(); // Play next video when current ends
    });

    resizeVideo();
    initControl();
    positionControl();

    if (MAKE_CONTROL_DRAGGABLE) {
      $(function() {
        $("#control").draggable();
      });
    }

    $(`#${LIVE_PLAY_ID}`).click(); // Play live by default
  });

  $(window).bind("orientationchange", function() {
    positionControl();
  });

  $(window).bind("resize", function() {
    positionControl();
    resizeVideo();
  });

  function resizeVideo() {
    video.setAttribute("width", window.innerWidth);
  }

  function initControl() {
    // Build lookup table for indexes of recordings on day boundary
    let dayRecIdxLookup = {};
    let dayRecIdxs = RECORDINGS.getDayBoundaryIndexes();
    for (let i = 0; i < dayRecIdxs.length; i++) {
      dayRecIdxLookup[dayRecIdxs[i]]++;
    }

    // Now populate all entries in the control pane showing
    for (let idx = 0; idx < RECORDINGS.getNumRecordings(); idx++) {
      let [file, year, month, date, day, hrs, mins, secs] = RECORDINGS.getInfo(idx);

      // Format certain time fields
      date  = ("0" + date).slice(-2);
      month = ("0" + (month + 1)).slice(-2);
      hrs   = ("0" + hrs).slice(-2);
      mins  = ("0" + mins).slice(-2);
      secs  = ("0" + secs).slice(-2);

      // Show day boundary
      if (idx in dayRecIdxLookup) {
        let text = `${DAYS[day]} ${date}-${month}-${year}`;
        $("#entries").append(`<div class="entry-day-boundary">${text}</div>`);
      }

      let text = (idx== LIVE_PLAY_ID) ? "Live" : `${hrs}:${mins}:${secs}`; // First entry is live

      // Use the recording index as the entry ID
      $("#entries").append(
        `<div class="entry-playback" id="${idx}" onclick="play(${idx})">` +
        `  <div><hr></div><div style="flex-grow: 1">${text}</div><div><hr></div>` +
        "</div>"
      );
    }
  }

  function positionControl() {
    $("#control").css("height", `${HEIGHT_CONTROL_PCT}%`);
    $("#control").css("top", `${MARGIN_CONTROL_TOP_PCT}%`);
    $("#control").css("left", window.innerWidth - $("#control").width() - (window.innerWidth * 0.05));
  }

  // Note: recording index and corresponding entry ID in control pane are the same
  function play(idx) {
    PLAYBACK.play(RECORDINGS.getPlayUrl(idx));

    // Handle selection highlight
    if ((currentPlayId != null) && (currentPlayId != idx)) {
      $("#" + currentPlayId).removeClass("entry-playback-selected");
    }
    $("#" + idx).addClass("entry-playback-selected");
    currentPlayId = idx;

    showPlaybackState();
  }

  function togglePlayPause(button) {
    if (PLAYBACK.togglePlayPause()) {
      showButtonPress(button);
      showPlaybackState();
    }
  }

  function speedUp(button) {
    if (currentPlayId == LIVE_PLAY_ID) return; // Do not support on live
    if (PLAYBACK.speedUp()) {
      showButtonPress(button);
      showPlaybackState();
    }
  }

  function speedDown(button) {
    if (currentPlayId == LIVE_PLAY_ID) return; // Do not support on live
    if (PLAYBACK.speedDown()) {
      showButtonPress(button);
      showPlaybackState();
    }
  }

  function showPlaybackState() {
    $("#play-pause").html(PLAYBACK.isPaused() ? "Play" : "Pause");
    $("#playback-state").html(PLAYBACK.getStatusString());
  }

  function showButtonPress(button) {
    if (buttonPressTimeout != null) {
      clearTimeout(buttonPressTimeout);
      hideButtonPress(pressedButton);
    }
    $(`#${button.id}`).toggleClass("button-highlight");

    pressedButton      = button;
    buttonPressTimeout = setTimeout(hideButtonPress, BUTTON_PRESS_HIGHLIGHT_TIME_MS, button);
  }
  
  function hideButtonPress(button) {
    $(`#${button.id}`).toggleClass("button-highlight");
    buttonPressTimeout = null;
    pressedButton = null;
  }

  </script>
  <body>
    <div id="fullscreen">
      <video id="video" type="video/mp4" playsinline autoplay muted controls></video>
      <div id="control">
        <div id="buttons">
          <div id="speed-down" class="button" onclick="speedDown(this)">&lt;&lt;</div>
          <div id="play-pause" class="button" onclick="togglePlayPause(this)">Pause</div>
          <div id="speed-up" class="button" onclick="speedUp(this)">&gt;&gt;</div>
        </div>
        <div id="playback-state"></div>
        <div id="entries"></div>
      </div>
    </div>
  </body>
</html>