body {
  background-color: black;
  color: yellow;
  font-size: 30pt;
}
p {
  text-align: center;
}
table {
  border-spacing: 15px;
  margin: auto;
  font-size: 30pt;
}
td.button {
  padding: 5px;
  color: #666600;
  font-style: italic;
}