body {
  background-color: black;
  color: yellow;
  font-size: 20pt;
}

table {
  border-spacing: 20px;
  margin: auto;
  font-size: 20pt;
}

td.message {
  color: #cc0000;
  text-align: center;
}

input, button {
  background-color: #333333;
  color: yellow;
  font-size: 20pt;
}
