body {
  margin: 0;
  background-color: black;
}

hr {
  width: 25px;
  height: 2px;
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 0, 0), rgba(255, 255, 0, 0.75), rgba(255, 255, 0, 0));
}

#fullscreen {
  position: relative;
  width: 100%;
  height: 100%;
}

#video {
  display: none; /* Only shown once video playback has started */
  font-size: 0pt;
}

#control {
  display: none; /* Set to "flex" once control pane is populated */
  flex-direction: column;
  position: absolute;
  border-radius: 6px;
  background-color: rgba(128, 128, 128, 0.5);
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(160, 160, 160, 0.5);
}

#entries {
  overflow: scroll;
  scrollbar-width: none;
  border-radius: 0px 0px 6px 6px;
  color: yellow;
}

#play-state {
  border-radius: 0px 0px 0px 0px;
  padding: 4px;
  font-size: small;
  text-align: center;
  vertical-align: middle
  font-style: italic;
  color: #99ebff;
}

.button {
  border-style: solid;
  border-width: thin;
  border-color: rgba(64, 64, 64, 0.5);
  border-radius: 6px 6px 6px 6px;
  padding: 4px;
  background-color: rgba(64, 64, 64, 0.5);
  font-size: small;
  text-align: center;
  color: #66ff33;
  width: 20;
}

/* Ensure widths of middle buttons are bigger */
#play-pause, #flip-position {
  width: 40;
}

.button-highlight {
  background-color: rgba(190, 190, 190, 0.5);
}

.entry-day-boundary {
  text-align: center;
  background-color: rgba(100, 100, 255, 0.5);
}

.entry-playback {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.entry-playback-selected {
  background-color: rgba(32, 32, 32, 0.5);
}
